<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variables</title>
  </head>
  <body>
    <h1>Welcome {{first_name | lower | capfirst}} {{last_name | lower}} :)</h1>
    <p>First name length = {{first_name | length}}</p>
    <p>some_list = {{some_list}}</p>
    <p>some_list.1 = {{some_list.1}}</p>
    <p>some_dict = {{some_dict}}</p>
    <p>some_dict.some_key = {{some_dict.some_key}}</p>
    <p>{# This is a comment #}</p>
  </body>
</html>
